* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "alimama";
  src: url("../font-family/AlimamaFangYuanTiVF-Thin.ttf");
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  transition: all 0.5s;
  overflow: hidden;
  user-select: none;
}

@media screen and (max-width: 500px) {
  body {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: start;
    position: fixed;
    overflow: hidden;
  }
}

i {
  cursor: pointer;
  transition: ease-in-out .3s;
}

i:hover {
  border-radius: 2px;
  color: white;
}

@media(any-hover:hover){
  i:hover {
    transform: scale(0.8);
  }
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.2),
    /* 上方阴影 */ 0 10px 10px -5px rgba(0, 0, 0, 0.2); /* 下方阴影 */
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  transition: all 0.5s;
  z-index: 11;
}

.container-info {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
  top: 2%;
}

.cover {
  display: flex;
  height: 75%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.cover img {
  width: 85%;
  height: 85%;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.cover .cover-active {
  width: 100%;
  height: 100%;
}

.song-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  justify-content: space-evenly;
  align-items: start;
  transition: ease-in-out 0.3s;
}

.song-name,
.song-singer {
  width: 100%;
  /* text-align: center; */
  font: 500 20px "alimama";
}

.song-singer {
  font: 400 16px "alimama";
}

.container-control {
  position: relative;
  height: 35%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.music-bar {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
}

.music-bar .time {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: space-between;
}

.music-bar .bar {
  display: flex;
  width: 100%;
  height: 20px;
  align-items: center;
}

.music-bar .bar:hover {
  height: 25px;
}

.bar .bar-control {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  background-color: #66666695;
  border-radius: 5px;
}

.bar .bar-now {
  height: 90%;
  width: 0;
  /* background-color: skyblue; */
  background: linear-gradient(to right, rgb(228, 226, 226), skyblue);
  border-radius: 5px;
  transition: all 0.3s;
}

.control {
  display: flex;
  width: 100%;
  height: 40%;
  /* border: 1px solid black; */
  justify-content: space-around;
  align-items: center;
}

.control i {
  font: 35px "alimama";
}

.other {
  display: flex;
  width: 100%;
  height: 30%;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: space-evenly;
}

.other i {
  font-size: 20px;
}

.icon-geci {
  background-color: transparent;
  color: black;
  border-radius: 2px;
}

.container .lrcBtn-active {
  background-color: skyblue;
  color: white;
  border-radius: 5px;
}

.icon-liebiao {
  background-color: transparent;
  color: black;
  border-radius: 2px;
}

.container .listBtn-active {
  background-color: skyblue;
  color: white;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .container {
    width:100%;
    height:100%;
    position: absolute;
  }

  .container-active{
    transform: scale(0.8);
  }

  .container-info {
    width: 80%;
    position: absolute;
    transition: all 0.5s;
  }

  .info-active {
    position: absolute;
    transform: scale(0.2) translateX(-200%) translateY(-230%);
    border-radius: 20px;
  }

  .cover {
    position: relative;
    height: 70%;
    aspect-ratio: 1/1;
  }

  .cover img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
  }

  .song-info {
    width: 100%;
    border-radius: 10px;
  }

  .songinfo-active {
    position: relative;
    height: 10%;
    width: 70%;
    transform: translateX(10%) translateY(-800%);
    text-overflow: ellipsis;
  }

  .song-name,
  .song-singer {
    position: relative;
    font-size: 25px;
  }

  .song-singer {
    font-size: 20px;
  }

  .container-control {
    z-index: 11;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
  }

  .control-active {
    transform: translateY(100%);
  }

  .music-bar {
    width: 80%;
  }

  .music-bar .time {
    font: 25px "alimama";
  }

  .music-bar .bar:hover {
    height: 25%;
  }

  .control {
    width: 80%;
  }

  .control i {
    font-size: 50px;
  }

  .other {
    width: 80%;
  }

  .other i {
    font-size: 25px;
  }
}

.lrc-container {
  position: relative;
  display: flex;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  /* align-items: center; */
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.2), 10px 0 10px -5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  opacity: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
}

.lrcContainer-active {
  transform: translateX(5%);
  opacity: 1;
}

.lrc-container .content {
  position: relative;
  display: flex;
  width: 80%;
  height: 95%;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  /* 确保其它内容能被模糊，所以需要有一定的背景颜色 */
}

.lrc-container ul {
  position: relative;
  width: 100%;
  /*transition: 0.5s all;*/
}

.lrc-container li {
  width: 100%;
  position: relative;
  height: auto;
  line-height: inherit;
  margin-top: 20px;
  font: 500 18px "alimama";
  color: #666666;
  /*transition: 0.5s all;*/
  overflow-wrap: break-word;
  white-space: normal;
  justify-content: left;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  margin-left: 1px;
  transition: 400ms ease-in-out ;
}

.lrc-container .lrc-active {
  color: white;
  font: 800 18px "alimama";
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: scale(1.2);
}

.lrc-container .lrc-active2 {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.lrc-container i {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.5s;
}

.lrc-container i:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  .lrc-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(100%);
    position: absolute;
  }

  .content {
    height: 100%;
  }

  .lrcContainer-active {
    transform: translateX(0%);
    opacity: 1;
    z-index: 10;
  }

  .lrcContainer-active2{
    transform: scale(0.8);
  }

  .lrc-container ul {
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
  }

  .lrc-container li {
    font: 500 25px "";
    font-weight: normal;
    margin-top: 30px;
    width: 100%;
  }

  .lrc-container .lrc-active {
    color: white;
    font: 800 25px "";
    font-weight: bold;
    filter: blur(0);
    -webkit-filter: blur(0);
  }

  .lrc-container i {
    font-size: 40px;
  }
}

.list {
  display: flex;
  width: 200px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 2;
  transform: translateX(100%);
  transition: ease-in-out 0.5s;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.2),
    /* 上方阴影 */ 0 10px 10px -5px rgba(0, 0, 0, 0.2),
    /* 下方阴影 */ -10px 0 10px -5px rgba(0, 0, 0, 0.2); /* 右侧阴影 */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  flex-direction: column;
  align-items: start;
}

.list-active {
  transform: translateX(-10%);
  opacity: 1;
}

.list ul {
  position: relative;
  transition: all 0.3s;
  overflow-y: hidden;
  width: 100%;
  margin-top: 0;
  height: 72%;
  border-top: 1px solid white;
}

.list ul:hover {
  overflow-y: auto;
}

.list ul::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
}

.list ul::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
}

.list ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.6);
}

.list li {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  font: 12px "alimama";
  height: 50px;
}

.list .playNow {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 12px;
  text-overflow: ellipsis;
}

.playNow img {
  height: 80%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.list li span {
  display: flex;
  align-items: center;
}

.list li span:nth-child(1) {
  width: 80%;
}

.list .filename {
  font-weight: 800;
}

.list li span div {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list .list-title {
  width: 100%;
  position: relative;
  margin-top: 20px;
  text-align: center;
  font: 20px "alimama";
  border-bottom: none;
  margin-bottom: 10px;
}

.list ul i {
  font-size: 16px;
  margin-right: 5px;
  transition: all 0.3s;
}

.list img {
  height: 80%;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 20px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.list .icon-quxiaoquanping {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 25px;
  transition: all 0.5s;
  z-index: 999;
}

.list .icon-quxiaoquanping:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  .list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    position: absolute;
    z-index: 12;
  }

  .list-active {
    transform: translateX(0);
    opacity: 1;
    z-index: 999;
  }

  .list .list-title {
    font-size: 25px;
  }

  .list .playNow {
    height: 80px;
    font-size: 20px;
  }

  .list ul {
    position: relative;
    width: 100%;
    margin-top: 0;
    height: 80%;
  }

  .list ul li {
    width: 100%;
    height: 80px;
    font-size: 20px;
    margin-top: 10px;
  }

  .list ul i {
    font-size: 30px;
  }

  .list li span:nth-child(1) {
    width: 80%;
  }

  .list li span:nth-child(2) {
    position: relative;
    right: 10px;
  }

  .list .icon-quxiaoquanping {
    font-size: 40px;
  }
}
